<div class="mb-3 row {{field.field_classes}}" {{{field.field_attributes}}}>
	<div class="{{layout.col_left}}">
		[[form_label_before]]
		<label class="col-form-label" for="{{form_idpfx}}-{{field.name}}">
			{{field.locale.title}}
			[[form_label_append]]
		</label>
		[[form_label_after]]
	</div>
	<div class="{{layout.col_right}}">
		[[form_input_before]]
		<input
			type="number"
			class="form-control {{#field.hasErrors}}is-invalid{{/field.hasErrors}}"
			id="{{form_idpfx}}-{{field.name}}"
			name="{{main_var}}[{{field.name}}]"
			placeholder="{{field.locale.placeholder}}"
			value="{{field.value}}"
			data-default="{{field.default}}"
			{{#field.hasMin}}min="{{field.min}}"{{/field.hasMin}}
			{{#field.hasMax}}max="{{field.max}}"{{/field.hasMax}}
			{{#field.step}}step="{{field.step}}"{{/field.step}}
			{{{field.required}}}
		>
		[[form_input_after]]
		<div class="invalid-feedback {{CSSPRFX}}error-not-a-number" style="display: none;">{{field.locale.error_not_a_number}}</div>
		<div class="invalid-feedback {{CSSPRFX}}error-required-empty" style="display: none;">{{field.locale.rf_error_required_empty}}</div>
		<div class="invalid-feedback {{CSSPRFX}}error-number-min-max" style="display: none;">{{field.locale.error_number_min_max}}</div>
		<div class="invalid-feedback {{CSSPRFX}}error-number-min" style="display: none;">{{field.locale.error_number_min}}</div>
		<div class="invalid-feedback {{CSSPRFX}}error-number-max" style="display: none;">{{field.locale.error_number_max}}</div>
		{{#field.errors}}
			<div class="invalid-feedback">{{.}}</div>
		{{/field.errors}}
	</div>
</div>
