<div class="form-group row {{CSSPRFX}}field" data-{{CSSPRFX}}type="reef:textarea" data-{{CSSPRFX}}name="{{field.name}}">
	<label class="{{layout.col_left}} col-form-label">
		{{field.locale.title}}
	</label>
	<div class="{{layout.col_right}}">
		{{field.value}}
	</div>
</div>
