<div class="mb-0 row {{field.field_classes}}" {{{field.field_attributes}}}>
	<div class="{{CSSPRFX}}cond-lang"
		data-yes="{{field.locale.rf_yes}}"
		data-no="{{field.locale.rf_no}}"
		data-field_delete_in_condition="{{field.locale.field_delete_in_condition}}"
		data-boolean_lose_condition_confirm="{{field.locale.boolean_lose_condition_confirm}}"
		data-choose_field="{{field.locale.choose_field}}"
		data-condition_delete_confirm="{{field.locale.condition_delete_confirm}}"
	></div>
	<div class="{{layout.col_left}}">
		[[form_label_before]]
		<label class="col-form-label" for="{{form_idpfx}}-{{field.name}}">
			{{field.locale.title}}
			[[form_label_append]]
		</label>
		[[form_label_after]]
	</div>
	<div class="{{layout.col_right}}">
		
		[[form_input_before]]
		<select class="form-select {{CSSPRFX}}cond-type">
			<option value="true">{{field.locale.rf_yes}}</option>
			<option value="false">{{field.locale.rf_no}}</option>
			<option value="condition">{{field.locale.condition_UI}}</option>
			<option value="manual">{{field.locale.condition_manual}}</option>
		</select>
		
		<div class="{{CSSPRFX}}cond-type-section {{CSSPRFX}}cond-type-condition">
			<table class="{{CSSPRFX}}cond-table" style="width: 100%;">
				<thead>
					<tr>
						<th>{{field.locale.operation_field}}</th>
						<th>{{field.locale.operation_operator}}</th>
						<th>{{field.locale.operation_operand}}</th>
						<th></th>
					</tr>
					<tr class="{{CSSPRFX}}cond-operation {{CSSPRFX}}template">
						<td class="{{CSSPRFX}}cond-fieldname">
							<select class="form-select"></select>
						</td>
						<td class="{{CSSPRFX}}cond-operator">
							<select class="form-select"></select>
						</td>
						<td class="{{CSSPRFX}}cond-operand">
							
						</td>
						<td class="{{CSSPRFX}}cond-btns">
							<div class="{{CSSPRFX}}cond-btn {{CSSPRFX}}cond-btn-icon {{CSSPRFX}}cond-remove-operation">[[?icon_condition_remove?icon_times]]&times;[[/icon_condition_remove?icon_times]]</div>
						</td>
					</tr>
				</thead>
				<tbody class="{{CSSPRFX}}template">
					<tr class="{{CSSPRFX}}cond-or">
						<td colspan="4">{{field.locale.condition_or}}</td>
					</tr>
					<tr class="{{CSSPRFX}}cond-add-and">
						<td colspan="4">
							<div class="{{CSSPRFX}}cond-btn {{CSSPRFX}}cond-btn-icon {{CSSPRFX}}cond-add-and-button">[[?icon_condition_add?icon_plus]]+[[/icon_condition_add?icon_plus]] {{field.locale.condition_and}}</div>
						</td>
					</tr>
				</tbody>
				
				<tbody>
					<tr class="{{CSSPRFX}}cond-add-or">
						<td colspan="4">
							<div class="{{CSSPRFX}}cond-btn {{CSSPRFX}}cond-btn-icon {{CSSPRFX}}cond-add-or-button">[[?icon_condition_add?icon_plus]]+[[/icon_condition_add?icon_plus]] {{field.locale.condition_or}}</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="{{CSSPRFX}}cond-type-section {{CSSPRFX}}cond-type-manual">
			<textarea name="{{main_var}}[{{field.name}}]" class="form-control {{CSSPRFX}}cond-condition">{{field.value}}</textarea>
		</div>
		[[form_input_after]]
		
		{{#field.errors}}
			<div class="invalid-feedback">{{.}}</div>
		{{/field.errors}}
		<div class="invalid-feedback {{CSSPRFX}}cond-feedback"></div>
	</div>
</div>
