<div class="mb-3 row {{field.field_classes}}" {{{field.field_attributes}}}>
	<div class="{{layout.col_left}}">
		[[submission_label_before]]
		<label class="col-form-label">
			{{field.locale.title}}
		</label>
		[[submission_label_after]]
	</div>
	<div class="{{layout.col_right}}">
		[[submission_input_before]]
		{{#field.hasValue}}
			{{field.value}}
		{{/field.hasValue}}
		{{^field.hasValue}}
			<span class="fst-italic text-muted">{{field.locale.rf_submission_empty_value}}</span>
		{{/field.hasValue}}
		[[submission_input_after]]
	</div>
</div>
