<div class="{{CSSPRFX}}builder" data-form_config="{{formConfig}}" data-form_id="{{form_id}}">
	<div class="{{CSSPRFX}}builder-toolbar">
		<div class="{{CSSPRFX}}builder-toolbar-general">
			<button type="button" class="{{CSSPRFX}}builder-toolbar-submit" data-action="{{settings.submit_action}}">
				Save
			</button>
			<button type="button" class="{{CSSPRFX}}builder-toolbar-config">
				&#9881;
			</button>
			<div class="{{CSSPRFX}}builder-dialog {{CSSPRFX}}builder-form-config" style="display: none;">
				{{{formConfigHtml}}}
			</div>
		</div>
		<div class="{{CSSPRFX}}builder-select">
			<div class="{{CSSPRFX}}builder-categories">
			{{#categories}}
				<div class="{{CSSPRFX}}builder-category {{#open_default}}{{CSSPRFX}}active{{/open_default}}" data-category="{{category}}">
					<div>
						<img title="" alt="" src="../../assets/img/{{category}}.svg" />
						<span>{{category}}</span>
					</div>
				</div>
			{{/categories}}
			</div>
			
			{{#categories}}
			<div class="{{CSSPRFX}}builder-components {{#open_default}}{{CSSPRFX}}active{{/open_default}}" data-category="{{category}}">
				{{#components}}
				<div class="{{CSSPRFX}}builder-component" data-component-name="{{type}}" data-definition="{{definition}}" data-html="{{html}}">
					<div class="{{CSSPRFX}}builder-tile">
						<img title="" alt="" src="../../assets/img/{{image}}" />
						<span>{{name}}</span>
					</div>
					<div class="{{CSSPRFX}}builder-template {{CSSPRFX}}builder-component-form">
						{{{componentForm}}}
					</div>
					<div class="{{CSSPRFX}}builder-template {{CSSPRFX}}builder-locale-forms">
						{{#localeForms}}
						<div class="{{CSSPRFX}}builder-locale-form" data-locale="{{locale}}">
						{{#multipleLocales}}
						<div class="{{CSSPRFX}}builder-locale-nav">
							<div class="{{CSSPRFX}}builder-locale-prev">&#11207;</div>
							<div class="{{CSSPRFX}}builder-locale-title">{{locale}}</div>
							<div class="{{CSSPRFX}}builder-locale-next">&#11208;</div>
						</div>
						{{/multipleLocales}}
							{{{form}}}
						</div>
						{{/localeForms}}
					</div>
				</div>
				{{/components}}
			</div>
			{{/categories}}
		</div>
	</div>
	<div class="{{CSSPRFX}}builder-workspace my-3">
		{{{formHtml}}}
	</div>
	<div class="{{CSSPRFX}}builder-existing-fields">
		{{#fields}}
		<div class="{{CSSPRFX}}builder-existing-field" data-component-name="{{type}}" data-config="{{config}}">
			<div class="{{CSSPRFX}}builder-template {{CSSPRFX}}builder-component-form">
				{{{componentForm}}}
			</div>
			<div class="{{CSSPRFX}}builder-template {{CSSPRFX}}builder-locale-forms">
				{{#localeForms}}
				<div class="{{CSSPRFX}}builder-locale-form" data-locale="{{locale}}">
					{{#multipleLocales}}
					<div class="{{CSSPRFX}}builder-locale-nav">
						<div class="{{CSSPRFX}}builder-locale-prev">&#11207;</div>
						<div class="{{CSSPRFX}}builder-locale-title">{{locale}}</div>
						<div class="{{CSSPRFX}}builder-locale-next">&#11208;</div>
					</div>
					{{/multipleLocales}}
					{{{form}}}
				</div>
				{{/localeForms}}
			</div>
		</div>
		{{/fields}}
	</div>
</div>
