<div class="{{CSSPRFX}}builder" data-form_config="{{formConfig}}" data-form_id="{{form_id}}">
	<div class="{{CSSPRFX}}builder-toolbar">
		<div class="{{CSSPRFX}}builder-toolbar-tabs">
			<button type="button" class="{{CSSPRFX}}builder-tab {{CSSPRFX}}builder-tab-components {{CSSPRFX}}builder-tab-active" data-tab="components">
				+
			</button>
			<button type="button" class="{{CSSPRFX}}builder-tab {{CSSPRFX}}builder-tab-field" data-tab="field">
				&#9881;
			</button>
			<button type="button" class="{{CSSPRFX}}builder-tab {{CSSPRFX}}builder-tab-form" data-tab="form">
				&#128295;
			</button>
		</div>
		<div class="{{CSSPRFX}}builder-sidetab {{CSSPRFX}}builder-sidetab-components">
			{{#categories}}
			<div class="{{CSSPRFX}}builder-category" data-category="{{category}}">
				<span class="{{CSSPRFX}}builder-category-name">{{category_title}}</span>
				<div class="{{CSSPRFX}}builder-components" data-category="{{category}}">
					{{#components}}
					<div class="{{CSSPRFX}}builder-component" data-component-name="{{type}}" data-configuration="{{configuration}}" data-html="{{html}}">
						<div class="{{CSSPRFX}}builder-tile">
							<img title="" alt="" src="{{#asset}}{{component_image_hash}}{{/asset}}" />
							<span>{{title}}</span>
						</div>
						{{#declarationForms}}
						<div class="{{CSSPRFX}}builder-template {{CSSPRFX}}builder-{{declType}}-declaration-form">
							{{{form}}}
						</div>
						{{/declarationForms}}
						{{#localeForms}}
						<div class="{{CSSPRFX}}builder-template {{CSSPRFX}}builder-{{declType}}-locale-forms {{#multipleLocales}}{{CSSPRFX}}builder-multiple-locales{{/multipleLocales}}">
							{{#forms}}
							<div class="{{CSSPRFX}}builder-locale-form" data-locale="{{locale}}">
							{{#multipleLocales}}
							<div class="{{CSSPRFX}}builder-locale-nav">
								<div class="{{CSSPRFX}}builder-locale-prev">&#11207;</div>
								<div class="{{CSSPRFX}}builder-locale-title">{{locale}}</div>
								<div class="{{CSSPRFX}}builder-locale-next">&#11208;</div>
							</div>
							{{/multipleLocales}}
								{{{form}}}
							</div>
							{{/forms}}
						</div>
						{{/localeForms}}
					</div>
					{{/components}}
				</div>
			</div>
			{{/categories}}
		</div>
		<div class="{{CSSPRFX}}builder-sidetab {{CSSPRFX}}builder-sidetab-field" style="display: none;">
			<div class="{{CSSPRFX}}builder-sidetab-field-tabs">
				<div class="{{CSSPRFX}}builder-sidetab-field-tab" data-type="basic">{{builder_lang.builder_basic}}</div>
				<div class="{{CSSPRFX}}builder-sidetab-field-tab" data-type="advanced">{{builder_lang.builder_advanced}}</div>
			</div>
			<div class="{{CSSPRFX}}builder-sidetab-field-content">
			
			</div>
		</div>
		<div class="{{CSSPRFX}}builder-sidetab {{CSSPRFX}}builder-sidetab-form" style="display: none;">
			<div class="{{CSSPRFX}}builder-definition-form">
				{{{definitionForm}}}
			</div>
			
			<button type="button" class="{{CSSPRFX}}builder-btn {{CSSPRFX}}builder-submit" data-action="{{settings.submit_action}}">
				{{builder_lang.builder_save}}
			</button>
		</div>
	</div>
	<div class="{{CSSPRFX}}builder-workspace my-3">
		{{{formHtml}}}
	</div>
	<div class="{{CSSPRFX}}builder-existing-fields">
		{{#fields}}
		<div class="{{CSSPRFX}}builder-existing-field" data-component-name="{{type}}" data-declaration="{{declaration}}">
			{{#declarationForms}}
			<div class="{{CSSPRFX}}builder-template {{CSSPRFX}}builder-{{declType}}-declaration-form">
				{{{form}}}
			</div>
			{{/declarationForms}}
			{{#localeForms}}
			<div class="{{CSSPRFX}}builder-template {{CSSPRFX}}builder-{{declType}}-locale-forms {{#multipleLocales}}{{CSSPRFX}}builder-multiple-locales{{/multipleLocales}}">
				{{#forms}}
				<div class="{{CSSPRFX}}builder-locale-form" data-locale="{{locale}}">
				{{#multipleLocales}}
				<div class="{{CSSPRFX}}builder-locale-nav">
					<div class="{{CSSPRFX}}builder-locale-prev">&#11207;</div>
					<div class="{{CSSPRFX}}builder-locale-title">{{locale}}</div>
					<div class="{{CSSPRFX}}builder-locale-next">&#11208;</div>
				</div>
				{{/multipleLocales}}
					{{{form}}}
				</div>
				{{/forms}}
			</div>
			{{/localeForms}}
		</div>
		{{/fields}}
	</div>
</div>
