
<div class="{{CSSPRFX}}main-config" data-config="{{config_base64}}" data-form-idpfx="{{form_idpfx}}"></div>

<div class="container-fluid {{CSSPRFX}}fields">
{{#fields}}
	{{{html}}}
{{/fields}}
</div>
