<div class="{{CSSPRFX}}builder" data-form_config="{{formConfig}}">
	<div class="{{CSSPRFX}}builder-lang"
		data-yes="{{builder_lang.rf_yes}}"
		data-no="{{builder_lang.rf_no}}"
		data-builder_delete_field_confirm="{{builder_lang.builder_delete_field_confirm}}"
	></div>
	<div class="{{CSSPRFX}}builder-toolbar">
		<div class="{{CSSPRFX}}builder-toolbar-tabs">
			<button type="button" class="{{CSSPRFX}}builder-tab {{CSSPRFX}}builder-tab-components {{CSSPRFX}}builder-tab-active" data-tab="components">
				[[?icon_builder_components]]+[[/icon_builder_components]]
			</button>
			<button type="button" class="{{CSSPRFX}}builder-tab {{CSSPRFX}}builder-tab-field" data-tab="field">
				[[?icon_builder_field]]&#9881;[[/icon_builder_field]]
			</button>
			<button type="button" class="{{CSSPRFX}}builder-tab {{CSSPRFX}}builder-tab-form" data-tab="form">
				[[?icon_builder_form]]&#128295;[[/icon_builder_form]]
			</button>
		</div>
		<div class="{{CSSPRFX}}builder-sidetab {{CSSPRFX}}builder-sidetab-components">
			{{#categories}}
			<div class="{{CSSPRFX}}builder-category" data-category="{{category}}">
				<span class="{{CSSPRFX}}builder-category-name">{{category_title}}</span>
				<div class="{{CSSPRFX}}builder-components" data-category="{{category}}">
					{{#components}}
					<div class="{{CSSPRFX}}builder-component" data-component-name="{{type}}" data-configuration="{{configuration}}" data-operators="{{operators}}" data-html="{{html}}">
						<div class="{{CSSPRFX}}builder-tile">
							<img title="" alt="" src="{{#internalRequest}}{{component_image_hash}}{{/internalRequest}}" />
							<span class="{{CSSPRFX}}builder-component-title">{{title}}</span>
						</div>
						{{#declarationForms}}
						<div class="{{CSSPRFX}}builder-template {{CSSPRFX}}builder-{{declType}}-declaration-form">
							{{{form}}}
						</div>
						{{/declarationForms}}
						{{#localeForms}}
						<div class="{{CSSPRFX}}builder-template {{CSSPRFX}}builder-{{declType}}-locale-forms {{#multipleLocales}}{{CSSPRFX}}builder-multiple-locales{{/multipleLocales}}">
							{{#forms}}
							<div class="{{CSSPRFX}}builder-locale-form" data-locale="{{locale}}">
							{{#multipleLocales}}
							<div class="{{CSSPRFX}}builder-locale-nav">
								<div class="{{CSSPRFX}}builder-locale-prev">[[?icon_locale_left]]&#11207;[[/icon_locale_left]]</div>
								<div class="{{CSSPRFX}}builder-locale-title">{{locale}}</div>
								<div class="{{CSSPRFX}}builder-locale-next">[[?icon_locale_right]]&#11208;[[/icon_locale_right]]</div>
							</div>
							{{/multipleLocales}}
								{{{form}}}
							</div>
							{{/forms}}
						</div>
						{{/localeForms}}
					</div>
					{{/components}}
				</div>
			</div>
			{{/categories}}
		</div>
		<div class="{{CSSPRFX}}builder-sidetab {{CSSPRFX}}builder-sidetab-field" style="display: none;">
			<div class="{{CSSPRFX}}builder-sidetab-field-component-name">
			</div>
			<div class="{{CSSPRFX}}builder-sidetab-field-tabs">
				<div class="{{CSSPRFX}}builder-sidetab-field-tab" data-type="basic">{{builder_lang.builder_basic}}</div>
				<div class="{{CSSPRFX}}builder-sidetab-field-tab" data-type="advanced">{{builder_lang.builder_advanced}}</div>
			</div>
			<div class="{{CSSPRFX}}builder-sidetab-field-content">
			
			</div>
		</div>
		<div class="{{CSSPRFX}}builder-sidetab {{CSSPRFX}}builder-sidetab-form" style="display: none;">
			<div class="{{CSSPRFX}}builder-sidetab-form-errors">
			</div>
			
			<div class="{{CSSPRFX}}builder-definition-form">
				{{{definitionForm}}}
			</div>
			
			<button type="button" class="{{CSSPRFX}}builder-btn {{CSSPRFX}}builder-submit" data-action="{{settings.submit_action}}">
				{{builder_lang.builder_save}}
			</button>
			
			<div class="{{CSSPRFX}}builder-save-progress">
				<div class="{{CSSPRFX}}builder-save-icons {{CSSPRFX}}builder-template">
					<div class="{{CSSPRFX}}builder-tick">[[?icon_builder_save_success]]<img class="{{CSSPRFX}}builder-save-img" title="" alt="" src="{{#internalRequest}}asset:reef:builder-tick{{/internalRequest}}">[[/icon_builder_save_success]]</div>
					<div class="{{CSSPRFX}}builder-error">[[?icon_builder_save_error]]<img class="{{CSSPRFX}}builder-save-img" title="" alt="" src="{{#internalRequest}}asset:reef:builder-error{{/internalRequest}}">[[/icon_builder_save_error]]</div>
					<div class="{{CSSPRFX}}builder-spinner">[[?icon_builder_save_spinner]]<img class="{{CSSPRFX}}builder-save-img {{CSSPRFX}}builder-spin-icon" title="" alt="" src="{{#internalRequest}}asset:reef:builder-spinner{{/internalRequest}}">[[/icon_builder_save_spinner]]</div>
					<div class="{{CSSPRFX}}builder-question">[[?icon_builder_save_question]]<img class="{{CSSPRFX}}builder-save-img" title="" alt="" src="{{#internalRequest}}asset:reef:builder-question{{/internalRequest}}">[[/icon_builder_save_question]]</div>
				</div>
				<div class="{{CSSPRFX}}builder-save-stage {{CSSPRFX}}builder-save-validate" style="display: none;">
					<div class="{{CSSPRFX}}builder-save-icon"></div>
					<div class="{{CSSPRFX}}builder-save-text">{{builder_lang.builder_save_stage_validate}}</div>
				</div>
				<div class="{{CSSPRFX}}builder-save-stage {{CSSPRFX}}builder-save-data" style="display: none;">
					<div class="{{CSSPRFX}}builder-save-icon"></div>
					<div class="{{CSSPRFX}}builder-save-text">{{builder_lang.builder_save_stage_data}}</div>
				</div>
				<div class="{{CSSPRFX}}builder-save-stage {{CSSPRFX}}builder-save-save" style="display: none;">
					<div class="{{CSSPRFX}}builder-save-icon"></div>
					<div class="{{CSSPRFX}}builder-save-text">{{builder_lang.builder_save_stage_save}}</div>
				</div>
			</div>
			
			<div class="{{CSSPRFX}}builder-save-dataloss" style="display: none;">
				<div class="{{CSSPRFX}}builder-save-dataloss-potential" style="display: none;">
					<span class="{{CSSPRFX}}builder-save-dataloss-title">{{builder_lang.builder_save_dataloss_potential_title}}</span>
					<ul class="{{CSSPRFX}}builder-save-dataloss-fields"></ul>
				</div>
				<div class="{{CSSPRFX}}builder-save-dataloss-definite" style="display: none;">
					<span class="{{CSSPRFX}}builder-save-dataloss-title">{{builder_lang.builder_save_dataloss_definite_title}}</span>
					<ul class="{{CSSPRFX}}builder-save-dataloss-fields"></ul>
				</div>
				<div class="{{CSSPRFX}}builder-save-dataloss-action">
					<span>{{builder_lang.builder_save_dataloss_confirm}}</span>
					
					<div class="{{CSSPRFX}}builder-save-dataloss-buttons">
						<button type="button" class="{{CSSPRFX}}builder-btn {{CSSPRFX}}builder-dataloss-yes">
							{{builder_lang.rf_yes}}
						</button>
						
						<button type="button" class="{{CSSPRFX}}builder-btn {{CSSPRFX}}builder-dataloss-no">
							{{builder_lang.rf_no}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="{{CSSPRFX}}builder-workspace py-3">
		{{{formHtml}}}
	</div>
	<div class="{{CSSPRFX}}builder-template {{CSSPRFX}}builder-field">
		<div class="{{CSSPRFX}}builder-field-preview"></div>
		<div class="{{CSSPRFX}}builder-field-actions">
			<div class="{{CSSPRFX}}builder-btn {{CSSPRFX}}builder-drag-handle">[[?icon_builder_move?icon_move]]&#8661;[[/icon_builder_move?icon_move]]</div>
			<div class="{{CSSPRFX}}builder-btn {{CSSPRFX}}builder-component-delete">[[?icon_builder_remove?icon_times]]&times;[[/icon_builder_remove?icon_times]]</div>
		</div>
		<div class="{{CSSPRFX}}builder-field-templates">
			<div class="{{CSSPRFX}}builder-declaration-forms" style="display: none;"></div>
		</div>
	</div>
	<div class="{{CSSPRFX}}builder-existing-fields">
		{{#fields}}
		<div class="{{CSSPRFX}}builder-existing-field" data-component-name="{{type}}" data-declaration="{{declaration}}">
			{{#declarationForms}}
			<div class="{{CSSPRFX}}builder-template {{CSSPRFX}}builder-{{declType}}-declaration-form">
				{{{form}}}
			</div>
			{{/declarationForms}}
			{{#localeForms}}
			<div class="{{CSSPRFX}}builder-template {{CSSPRFX}}builder-{{declType}}-locale-forms {{#multipleLocales}}{{CSSPRFX}}builder-multiple-locales{{/multipleLocales}}">
				{{#forms}}
				<div class="{{CSSPRFX}}builder-locale-form" data-locale="{{locale}}">
				{{#multipleLocales}}
				<div class="{{CSSPRFX}}builder-locale-nav">
					<div class="{{CSSPRFX}}builder-locale-prev">[[?icon_locale_left]]&#11207;[[/icon_locale_left]]</div>
					<div class="{{CSSPRFX}}builder-locale-title">{{locale}}</div>
					<div class="{{CSSPRFX}}builder-locale-next">[[?icon_locale_right]]&#11208;[[/icon_locale_right]]</div>
				</div>
				{{/multipleLocales}}
					{{{form}}}
				</div>
				{{/forms}}
			</div>
			{{/localeForms}}
		</div>
		{{/fields}}
	</div>
</div>
