<div class="form-group row {{CSSPRFX}}field {{#field.hasErrors}}{{CSSPRFX}}invalid{{/field.hasErrors}}" data-{{CSSPRFX}}type="reef:text_number" data-{{CSSPRFX}}name="{{field.name}}">
	<label class="{{layout.col_left}} col-form-label" for="{{form_idpfx}}-{{field.name}}">
		{{field.locale.title}}
	</label>
	<div class="{{layout.col_right}}">
		<input
			type="number"
			class="form-control {{#field.hasErrors}}is-invalid{{/field.hasErrors}}"
			id="{{form_idpfx}}-{{field.name}}"
			name="{{main_var}}[{{field.name}}]"
			placeholder="{{field.locale.placeholder}}"
			value="{{field.value}}"
			{{#field.hasMin}}min="{{field.min}}"{{/field.hasMin}}
			{{#field.hasMax}}max="{{field.max}}"{{/field.hasMax}}
			{{#field.step}}step="{{field.step}}"{{/field.step}}
			{{#field.required}}required{{/field.required}}
		>
		<div class="invalid-feedback {{CSSPRFX}}error-required-empty" style="display: none;">{{field.locale.rf_error_required_empty}}</div>
		<div class="invalid-feedback {{CSSPRFX}}error-number-range" style="display: none;">{{field.locale.error_number_range}}</div>
		{{#field.errors}}
			<div class="invalid-feedback">{{.}}</div>
		{{/field.errors}}
	</div>
</div>
