<div class="{{CSSPRFX}}field" data-{{CSSPRFX}}type="reef:hidden" data-{{CSSPRFX}}name="{{field.name}}">
	<input type="hidden" id="{{form_idpfx}}-{{field.name}}" name="{{main_var}}[{{field.name}}]" value="{{field.value}}">
</div>
