<div class="mb-3 row {{field.field_classes}}" {{{field.field_attributes}}}>
	<div class="{{layout.col_left}}">
		[[form_label_before]]
		<label class="col-form-label" for="{{form_idpfx}}-{{field.name}}">
			{{field.locale.title}}
			[[form_label_append]]
		</label>
		[[form_label_after]]
	</div>
	<div class="{{layout.col_right}}">
		[[form_input_before]]
		<textarea
			class="form-control {{#field.hasErrors}}is-invalid{{/field.hasErrors}}"
			id="{{form_idpfx}}-{{field.name}}"
			name="{{main_var}}[{{field.name}}]"
			placeholder="{{field.locale.placeholder}}"
			data-default="{{field.default}}"
			{{{field.required}}}
			{{#field.max_length}}maxlength="{{field.max_length}}"{{/field.max_length}}
		>{{field.value}}</textarea>
		[[form_input_after]]
		<div class="invalid-feedback {{CSSPRFX}}error-required-empty" style="display: none;">{{field.locale.rf_error_required_empty}}</div>
		{{#field.max_length}}<div class="invalid-feedback {{CSSPRFX}}error-value-too-long" style="display: none;">{{field.locale.error_value_too_long}}</div>{{/field.max_length}}
		{{#field.errors}}
			<div class="invalid-feedback">{{.}}</div>
		{{/field.errors}}
	</div>
</div>
