.CSSPRFXbuilder {
	display: flex;
	position: relative;
	height: 100%;
}

.CSSPRFXbuilder-toolbar {
	flex-direction: column;
	width: 300px;
	background-color: #f7f7fe;
	font-size: 9pt;
	height: 100%;
	overflow: auto;
}

.CSSPRFXbuilder-toolbar input, .CSSPRFXbuilder-toolbar textarea, .CSSPRFXbuilder-toolbar select {
	font-size: inherit;
}

.CSSPRFXbuilder-toolbar .CSSPRFXbuilder-toolbar-tabs {
	display: flex;
	height: 2em;
}

.CSSPRFXbuilder-toolbar .CSSPRFXbuilder-tab {
	display: block;
	flex: 1;
	background-color: #c6caed;
	border: 0;
	cursor: pointer;
	font-size: 12pt;
}

.CSSPRFXbuilder-tab.CSSPRFXbuilder-tab-active {
	background-color: #a6aaed;
}

.CSSPRFXbuilder-components {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.75em;
}

.CSSPRFXbuilder-sidetab-components .CSSPRFXbuilder-component {
	flex-basis: calc(50% - 0.375em);
	display: flex;
	height: 2.5em;
	padding: 0.1em 0.25em;
	margin: 0.25em 0em 0 0.25em;
	font-size: 9pt;
	background-color: #e6e7fe;
	border: 1px solid #d0d0e9;
	cursor: grab;
	overflow: hidden;
}

.CSSPRFXbuilder-sidetab-components .CSSPRFXbuilder-component:hover {
	background-color: #d8dafb;
}

.CSSPRFXbuilder-sidetab-components .CSSPRFXbuilder-component img {
	max-width: 100%;
	max-height: 100%;
}

.CSSPRFXbuilder-sidetab-components .CSSPRFXbuilder-category {
	margin-bottom: 0.5em;
}

.CSSPRFXbuilder-sidetab-components .CSSPRFXbuilder-category-name {
	font-size: 11pt;
	font-weight: bold;
	margin-left: 1em;
}

/* Note: builder-add-ghost does not work with recent SortableJs versions, adding sortable-ghost as fallback */
.CSSPRFXbuilder-component.CSSPRFXbuilder-add-ghost, .CSSPRFXbuilder-component.sortable-ghost {
	background-color: #f7f7fe;
}

.CSSPRFXbuilder-component.CSSPRFXbuilder-add-ghost img, .CSSPRFXbuilder-component.sortable-ghost img {
	max-width: 25px;
}

.CSSPRFXbuilder-workspace {
	background-color: #fff;
	flex: 1;
	height: 100%;
	overflow: auto;
}

.CSSPRFXbuilder-workspace .CSSPRFXfields {
	height: 100%;
}

.CSSPRFXbuilder-field {
	display: flex;
	border: 1px solid transparent;
	padding: 0.2em;
}

.CSSPRFXbuilder-field:hover {
	border: 1px dashed #ccc;
}

.CSSPRFXbuilder-field.CSSPRFXactive {
	border: 1px solid #ccc;
	background-color: #f9f9fc;
}

.CSSPRFXbuilder-field.CSSPRFXbuilder-field-error {
	border: 1px solid #e23;
}

.CSSPRFXbuilder-field-preview {
	flex: 1;
}

.CSSPRFXbuilder-field-actions {
	width: 100px;
	text-align: center;
	margin-bottom: 1em;
}

.CSSPRFXbuilder-field.CSSPRFXbuilder-field-deleting {
	border: 1px dashed rgba(255, 0, 0);
	background-color: rgba(255, 0, 0, 0.05);
}

.CSSPRFXbuilder-field.CSSPRFXbuilder-field-deleting > div {
	display: none;
}

.CSSPRFXbuilder-field.CSSPRFXbuilder-field-deleting > div.CSSPRFXbuilder-field-delete-confirm {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	align-items: center;
}

.CSSPRFXbuilder-btn {
	display: inline-block;
	background-color: #a6aaed;
	padding: 3px 10px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 3px;
	margin: 1px 3px;
}

button.CSSPRFXbuilder-btn {
	border: 0;
}

.CSSPRFXbuilder-btn:hover {
	background-color: #969add;
}

.CSSPRFXbuilder-btn.CSSPRFXbuilder-submit {
	font-size: 12pt;
}

.CSSPRFXbuilder-template {
	display: none;
}

.CSSPRFXbuilder-save-img {
	height: 2em;
}

.CSSPRFXbuilder-spin-icon {
	animation: builderspinner 2s linear infinite;
}
@keyframes builderspinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.CSSPRFXbuilder-save-stage {
	display: flex;
}

.CSSPRFXbuilder-save-dataloss-title {
	font-weight: bold;
}

.CSSPRFXbuilder-save-dataloss-potential, .CSSPRFXbuilder-save-dataloss-definite, .CSSPRFXbuilder-save-dataloss-action {
	padding: 5px;
	margin: 10px;
}

.CSSPRFXbuilder-save-dataloss-potential {
	border: 1px solid rgba(255, 128, 0);
	background-color: rgba(255, 128, 0, 0.1);
}

.CSSPRFXbuilder-save-dataloss-definite {
	border: 1px solid rgba(255, 0, 0);
	background-color: rgba(255, 0, 0, 0.1);
}

.CSSPRFXbuilder-save-dataloss-buttons {
	display: flex;
	justify-content: space-around;
}

.CSSPRFXbuilder-dialog {
	position: absolute;
	width: 300px;
	background-color: #fff;
	border: 2px solid #969add;
	z-index: 75;
}

.CSSPRFXbuilder-sidetab-field-tabs {
	display: flex;
}

.CSSPRFXbuilder-sidetab-field-tab {
	flex: 1;
	background-color: #d6dafd;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.CSSPRFXbuilder-sidetab-field-tab.CSSPRFXbuilder-sidetab-field-tab-active {
	background-color: #b6bafd;
}

.CSSPRFXbuilder-sidetab-field-component-name {
	background-color: #e6eaff;
	text-align: center;
}

.CSSPRFXbuilder-sidetab-field-component-name-name {
	font-weight: bold;
	font-size: 1.5em;
}

.CSSPRFXbuilder-sidetab-field-component-name-docs-icon {
	display: inline-block;
	border-radius: 50%;
	padding: 0.25em;
	line-height: 1em;
	height: 1.5em;
	width: 1.5em;
	background-color: #b6bafd;
	color: #fff;
	font-weight: bold;
	vertical-align: text-bottom;
}

.CSSPRFXbuilder-multiple-locales .CSSPRFXbuilder-locale-form {
	margin: 0.4em;
	padding: 0.4em 0;
	border: 1px solid #c7b3ce;
}

.CSSPRFXbuilder-locale-nav {
	display: flex;
	text-align: center;
}

.CSSPRFXbuilder-locale-prev, .CSSPRFXbuilder-locale-next {
	flex: 1;
	cursor: pointer;
}

.CSSPRFXbuilder-locale-prev.CSSPRFXbuilder-locale-end, .CSSPRFXbuilder-locale-next.CSSPRFXbuilder-locale-end {
	cursor: default;
	color: #ccc;
}

.CSSPRFXbuilder-locale-title {
	flex: 1;
}

.CSSPRFXbuilder-sidetab-form-errors {
	margin: .25em 0.5em;
	font-size: 90%;
	color: #e23;
}
