.CSSPRFXbuilder {
	display: flex;
	position: relative;
}

.CSSPRFXbuilder-toolbar {
	flex-direction: column;
	width: 300px;
	background-color: #f7f7fe;
	font-size: 9pt;
}

.CSSPRFXbuilder-toolbar input, .CSSPRFXbuilder-toolbar textarea, .CSSPRFXbuilder-toolbar select {
	font-size: inherit;
}

.CSSPRFXbuilder-toolbar .CSSPRFXbuilder-toolbar-tabs {
	display: flex;
	height: 2em;
}

.CSSPRFXbuilder-toolbar .CSSPRFXbuilder-tab {
	display: block;
	flex: 1;
	background-color: #c6caed;
	border: 0;
	cursor: pointer;
	font-size: 12pt;
}

.CSSPRFXbuilder-tab.CSSPRFXbuilder-tab-active {
	background-color: #a6aaed;
}

.CSSPRFXbuilder-components {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.75em;
}

.CSSPRFXbuilder-sidetab-components .CSSPRFXbuilder-component {
	flex-basis: calc(50% - 0.375em);
	display: flex;
	height: 2.5em;
	padding: 0.1em 0.25em;
	margin: 0.25em 0em 0 0.25em;
	font-size: 9pt;
	background-color: #e6e7fe;
	border: 1px solid #d0d0e9;
	cursor: grab;
	overflow: hidden;
}

.CSSPRFXbuilder-sidetab-components .CSSPRFXbuilder-component:hover {
	background-color: #d8dafb;
}

.CSSPRFXbuilder-sidetab-components .CSSPRFXbuilder-component img {
	max-width: 100%;
	max-height: 100%;
}

.CSSPRFXbuilder-sidetab-components .CSSPRFXbuilder-category {
	margin-bottom: 0.5em;
}

.CSSPRFXbuilder-sidetab-components .CSSPRFXbuilder-category-name {
	font-size: 11pt;
	font-weight: bold;
	margin-left: 1em;
}

.CSSPRFXbuilder-component.CSSPRFXbuilder-add-ghost {
	background-color: #f7f7fe;
}

.CSSPRFXbuilder-component.CSSPRFXbuilder-add-ghost img {
	max-width: 25px;
}

.CSSPRFXbuilder-workspace {
	background-color: #fff;
	flex: 1;
}

.CSSPRFXbuilder-workspace .CSSPRFXfields {
	height: 100%;
}

.CSSPRFXbuilder-field {
	display: flex;
	border: 1px solid transparent;
	padding: 0.2em;
}

.CSSPRFXbuilder-field:hover {
	border: 1px dashed #ccc;
}

.CSSPRFXbuilder-field.CSSPRFXactive {
	border: 1px solid #ccc;
	background-color: #f9f9fc;
}

.CSSPRFXbuilder-field-preview {
	flex: 1;
}

.CSSPRFXbuilder-field-actions {
	width: 100px;
	text-align: center;
	margin-bottom: 1em;
}

.CSSPRFXbuilder-btn {
	display: inline-block;
	background-color: #a6aaed;
	padding: 3px 10px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 3px;
	margin: 1px 3px;
}

.CSSPRFXbuilder-btn:hover {
	background-color: #969add;
}

.CSSPRFXbuilder-btn.CSSPRFXbuilder-submit {
	border: 0;
	font-size: 12pt;
}

.CSSPRFXbuilder-template {
	display: none;
}

.CSSPRFXbuilder-dialog {
	position: absolute;
	width: 300px;
	background-color: #fff;
	border: 2px solid #969add;
	z-index: 75;
}

.CSSPRFXbuilder-sidetab-field-tabs {
	display: flex;
}

.CSSPRFXbuilder-sidetab-field-tab {
	flex: 1;
	background-color: #d6dafd;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.CSSPRFXbuilder-sidetab-field-tab.CSSPRFXbuilder-sidetab-field-tab-active {
	background-color: #b6bafd;
}

.CSSPRFXbuilder-multiple-locales .CSSPRFXbuilder-locale-form {
	margin: 0.4em;
	padding: 0.4em 0;
	border: 1px solid #c7b3ce;
}

.CSSPRFXbuilder-locale-nav {
	display: flex;
	text-align: center;
}

.CSSPRFXbuilder-locale-prev, .CSSPRFXbuilder-locale-next {
	flex: 1;
	cursor: pointer;
}

.CSSPRFXbuilder-locale-prev.CSSPRFXbuilder-locale-end, .CSSPRFXbuilder-locale-next.CSSPRFXbuilder-locale-end {
	cursor: default;
	color: #ccc;
}

.CSSPRFXbuilder-locale-title {
	flex: 1;
}
