<div class="form-group row {{CSSPRFX}}component" data-{{CSSPRFX}}type="reef:single_line_text" data-{{CSSPRFX}}name="{{component.name}}">
	<label class="{{layout.col_left}} col-form-label" for="{{component.name}}">
		{{component.locale.title}}
	</label>
	<div class="{{layout.col_right}}">
		<input type="text" class="form-control" id="{{component.name}}" name="{{main_var}}[{{component.name}}]" placeholder="{{component.locale.placeholder}}" value="{{component.value}}" {{#component.required}}required{{/component.required}}>
		<div class="invalid-feedback {{CSSPRFX}}error-required-empty">{{component.locale.error_required_empty}}</div>
	</div>
</div>
