<div class="mb-3 row {{field.field_classes}}" {{{field.field_attributes}}}>
	<div class="{{layout.col_left}}">
		[[form_label_before]]
		<label class="col-form-label">
			{{field.locale.title}}
			[[form_label_append]]
		</label>
		[[form_label_after]]
	</div>
	<div class="{{layout.col_right}}">
		[[form_input_before]]
		{{#field.options}}
			<div class="form-check">
				<input
					class="form-check-input {{#field.hasErrors}}is-invalid{{/field.hasErrors}}"
					type="checkbox"
					name="{{main_var}}[{{field.name}}][{{name}}]"
					id="{{form_idpfx}}-{{field.name}}-{{name}}"
					value="1"
					data-name="{{name}}"
					{{#default}}checked{{/default}}
					data-default="{{default}}"
				>
				<label class="form-check-label" for="{{form_idpfx}}-{{field.name}}-{{name}}">
					{{title}}
				</label>
			</div>
		{{/field.options}}
		[[form_input_after]]
		
		{{#field.errors}}
			<div class="invalid-feedback">{{.}}</div>
		{{/field.errors}}
	</div>
</div>
