<div class="mb-3 row {{field.field_classes}}" {{{field.field_attributes}}}>
	<div class="{{layout.col_left}}">
		[[submission_label_before]]
		<label class="col-form-label">
			{{field.locale.title}}
		</label>
		[[submission_label_after]]
	</div>
	<div class="{{layout.col_right}}">
		[[submission_input_before]]
		{{#field.options}}
			<div class="form-check">
				<input
					class="form-check-input"
					type="checkbox"
					data-name="{{name}}"
					{{#default}}checked{{/default}}
					readonly
				>
				<label class="form-check-label">
					{{title}}
				</label>
			</div>
		{{/field.options}}
		[[submission_input_after]]
	</div>
</div>
