<div class="mb-3 row {{field.field_classes}}" {{{field.field_attributes}}} data-default="{{field.default}}">
	<div class="{{layout.col_left}}">
		[[form_label_before]]
		<label class="col-form-label" for="{{form_idpfx}}-{{field.name}}">
			{{field.locale.title}}
			[[form_label_append]]
		</label>
		[[form_label_after]]
	</div>
	<div class="{{layout.col_right}}">
		[[form_input_before]]
		{{#field.options}}
			<div class="form-check">
				<input
					class="form-check-input {{#field.hasErrors}}is-invalid{{/field.hasErrors}}"
					type="radio"
					name="{{main_var}}[{{field.name}}]"
					id="{{form_idpfx}}-{{field.name}}-{{name}}"
					value="{{name}}"
					{{#default}}checked{{/default}}
					{{{field.required}}}
				>
				<label class="form-check-label" for="{{form_idpfx}}-{{field.name}}-{{name}}">
					{{title}}
				</label>
			</div>
		{{/field.options}}
		[[form_input_after]]
		
		<div class="invalid-feedback {{CSSPRFX}}error-required-empty" style="display: none;">{{field.locale.rf_error_required_empty}}</div>
		{{#field.errors}}
			<div class="invalid-feedback">{{.}}</div>
		{{/field.errors}}
	</div>
</div>
