<div class="mb-3 row {{field.field_classes}}" {{{field.field_attributes}}}>
	<div class="{{layout.col_left}}">
		[[form_label_before]]
		<label class="col-form-label" for="{{form_idpfx}}-{{field.name}}">
			{{field.locale.title}}
			[[form_label_append]]
		</label>
		[[form_label_after]]
	</div>
	<div class="{{layout.col_right}}">
		[[form_input_before]]
		<select
			class="form-select {{#field.hasErrors}}is-invalid{{/field.hasErrors}}"
			id="{{form_idpfx}}-{{field.name}}"
			name="{{main_var}}[{{field.name}}]"
			data-default="{{field.default}}"
		>
		{{#field.options}}
			<option value="{{name}}" {{#default}}selected{{/default}}>{{title}}</option>
		{{/field.options}}
		</select>
		[[form_input_after]]
		{{#field.errors}}
			<div class="invalid-feedback">{{.}}</div>
		{{/field.errors}}
	</div>
</div>
