<div class="mb-3 row {{field.field_classes}}" {{{field.field_attributes}}}>
	<div class="{{layout.col_left}}">
		[[submission_label_before]]
		<label class="col-form-label">
			{{field.locale.title}}
		</label>
		[[submission_label_after]]
	</div>
	<div class="{{layout.col_right}}">
		[[submission_input_before]]
		{{#field.files_data}}
		<div class="{{CSSPRFX}}upload-file">
			<div class="{{CSSPRFX}}upload-file-name">
				<a href="{{#internalRequest}}{{request_hash}}{{/internalRequest}}" title="{{name}}">{{name}}</a>
			</div>
			<div class="{{CSSPRFX}}upload-file-size">
				{{size}}
			</div>
		</div>
		{{/field.files_data}}
		{{^field.files_data}}
			<span class="fst-italic text-muted">{{field.locale.rf_submission_empty_value}}</span>
		{{/field.files_data}}
		[[submission_input_after]]
	</div>
</div>
