<div class="mb-3 row {{field.field_classes}}" {{{field.field_attributes}}}>
	<div class="{{layout.col_left}}">
		[[form_label_before]]
		<label class="col-form-label" for="{{form_idpfx}}-{{field.name}}">
			{{field.locale.title}}
			[[form_label_append]]
		</label>
		[[form_label_after]]
	</div>
	<div class="{{layout.col_right}}">
		[[form_input_before]]
		<div class="form-check">
			<input
				class="form-check-input {{#field.hasErrors}}is-invalid{{/field.hasErrors}}"
				type="checkbox"
				name="{{main_var}}[{{field.name}}]"
				id="{{form_idpfx}}-{{field.name}}"
				value="1"
				data-default="{{field.default}}"
				{{#field.value}}checked{{/field.value}}
				{{{field.required}}}
			>
			{{#field.locale.box_label}}
			<label class="form-check-label" for="{{form_idpfx}}-{{field.name}}">
				{{field.locale.box_label}}
			</label>
			{{/field.locale.box_label}}
			<div class="invalid-feedback {{CSSPRFX}}error-required-empty" style="display: none;">{{field.locale.rf_error_required_empty}}</div>
			{{#field.errors}}
				<div class="invalid-feedback">{{.}}</div>
			{{/field.errors}}
		</div>
		[[form_input_after]]
	</div>
</div>
