<div class="mb-3 row {{field.field_classes}}" {{{field.field_attributes}}}>
	<div class="{{layout.col_left}}">
		[[submission_label_before]]
		<label class="col-form-label">
			{{field.locale.title}}
		</label>
		[[submission_label_after]]
	</div>
	<div class="{{layout.col_right}}">
		[[submission_input_before]]
		<div class="form-check">
			<input
				class="form-check-input"
				type="checkbox"
				{{#field.value}}checked{{/field.value}}
				readonly
			>
			{{#field.locale.box_label}}
			<label class="form-check-label">
				{{field.locale.box_label}}
			</label>
			{{/field.locale.box_label}}
		</div>
		[[submission_input_after]]
	</div>
</div>
