<div class="mb-3 row {{field.field_classes}}" {{{field.field_attributes}}} data-num_opt_def="{{field.default_num_options}}" data-num_opt_min="{{field.min_num_options}}" data-num_opt_max="{{field.max_num_options}}" data-max_checked_def="{{field.max_checked_defaults}}">
	<div class="{{CSSPRFX}}ol-lang"
		data-yes="{{field.locale.rf_yes}}"
		data-no="{{field.locale.rf_no}}"
		data-delete_option_confirm="{{field.locale.delete_option_confirm}}"
	></div>
	<div class="{{layout.col_left}}">
		[[form_label_before]]
		<label class="col-form-label" for="{{form_idpfx}}-{{field.name}}">
			{{field.locale.title}}
			[[form_label_append]]
		</label>
		[[form_label_after]]
	</div>
	<div class="{{layout.col_right}}">
		[[form_input_before]]
		<table style="width: 100%;">
			<thead>
				<tr>
					{{#field.max_checked_defaults}}
					<th></th>
					{{/field.max_checked_defaults}}
					{{#field.names}}
					<th>{{field.locale.option_name_title}}</th>
					{{/field.names}}
					<th>
					{{#field.multipleLocales}}
					{{#field.locales}}
						<div class="{{CSSPRFX}}ol-locale" data-locale="{{.}}" style="display: none;">
							<div class="{{CSSPRFX}}ol-locale-prev">[[?icon_locale_left]]&#11207;[[/icon_locale_left]]</div>
							<div class="{{CSSPRFX}}ol-locale-title">{{.}}</div>
							<div class="{{CSSPRFX}}ol-locale-next">[[?icon_locale_right]]&#11208;[[/icon_locale_right]]</div>
						</div>
					{{/field.locales}}
					{{/field.multipleLocales}}
					{{^field.multipleLocales}}
						{{field.locale.option_title_title}}
					{{/field.multipleLocales}}
					</th>
					<th></th>
				</tr>
				<tr class="{{CSSPRFX}}ol-option {{CSSPRFX}}template">
					{{#field.max_checked_defaults}}
					<td>
						<input type="checkbox" name="{{main_var}}[{{field.name}}][default][]" class="{{CSSPRFX}}ol-default" value="1" style="width: 100%;" />
					</td>
					{{/field.max_checked_defaults}}
					{{#field.names}}
					<td style="width: 30%;">
						<input type="text" name="{{main_var}}[{{field.name}}][name][]" class="{{CSSPRFX}}ol-name" value="" style="width: 100%;" pattern="{{field.name_regexp}}" />
					</td>
					{{/field.names}}
					<td>
					{{#field.locales}}
						<div class="{{CSSPRFX}}ol-locale" data-locale="{{.}}" style="display: none;">
							<input type="text" name="{{main_var}}[{{field.name}}][locale][{{.}}][]" value="" style="width: 100%;" />
						</div>
					{{/field.locales}}
					</td>
					<td>
						<input type="hidden" name="{{main_var}}[{{field.name}}][old_name][]" class="{{CSSPRFX}}ol-old-name" value="" />
						<div class="{{CSSPRFX}}ol-btns">
							<div class="{{CSSPRFX}}ol-btn {{CSSPRFX}}ol-btn-icon {{CSSPRFX}}ol-drag-handle">[[?icon_optionlist_move?icon_move]]&#8661;[[/icon_optionlist_move?icon_move]]</div>
							<div class="{{CSSPRFX}}ol-btn {{CSSPRFX}}ol-btn-icon {{CSSPRFX}}ol-remove-option">[[?icon_optionlist_remove?icon_times]]&times;[[/icon_optionlist_remove?icon_times]]</div>
						</div>
					</td>
				</tr>
			</thead>
			<tbody data-options="{{field.options_base64}}">
				
			</tbody>
		</table>
		<div class="{{CSSPRFX}}ol-btn {{CSSPRFX}}ol-add">+ {{field.locale.add_button}}</div>
		[[form_input_after]]
		
		<div class="invalid-feedback {{CSSPRFX}}error-min-options" style="display: none;">{{field.locale.error_min_options}}</div>
		<div class="invalid-feedback {{CSSPRFX}}error-max-options" style="display: none;">{{field.locale.error_max_options}}</div>
		<div class="invalid-feedback {{CSSPRFX}}error-max-checked-def" style="display: none;">{{field.locale.error_max_checked_defaults}}</div>
		<div class="invalid-feedback {{CSSPRFX}}error-regexp" style="display: none;">{{field.locale.error_regexp}}</div>
		<div class="invalid-feedback {{CSSPRFX}}error-duplicate" style="display: none;">{{field.locale.error_duplicate}}</div>
		{{#field.errors}}
			<div class="invalid-feedback">{{.}}</div>
		{{/field.errors}}
	</div>
</div>
